.link {
    height: 100%;
    width: 80px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.link:hover {
    background-color: var(--background-accent);
}

.active {
    background-color: var(--background-main);
}