.container {
  display: flex;
  gap: 72px;
}

.hero {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.hero article {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 1;
}

.hero div {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-shrink: 1;
  overflow: hidden;
}

.header {
  font-size: 96px;
  font-weight: 700;
}

.desc {
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.buttonContainer * {
width: 50%;
height: 80%;
background-color: transparent;
border-style: solid;
border-width: 8px;
border-color: var(--main);
border-radius: 40px;
font-size: 72px;
cursor: pointer;
align-items: center;
justify-content: center;
display: flex;
}

.buttonContainer *:hover {
  background-color: var(--main);
  color: var(--white);
}

