.wrapper {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    gap: 8px;
    padding-left: 8px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.buttonWrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 12px;
}

.buttonWrapper button {
    font-size: 16px;
    height: 80%;
    width: 80px;
    border-radius: 16px;
}

.buttonWrapper button:hover {
    background-color: var(--accent);
}

.full {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}