.wrapper {
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}