.container {
    display: flex;
    gap: 48px;
}

.wrapper {
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--background-secondary);
    border-radius: 30px;
    padding: 36px;
    align-items: center;
    gap: 8px;
}

.field {
    display: flex;
    flex-direction: column;
}

.container h3 {
    text-align: center;
    margin-bottom: 12px;
}

.wrapper button, .link {
    width: 100%;
    padding: 12px;
    border-radius: 16px;
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
}

.wrapper form button {
    margin-top: 16px;
}

.input {
    background-color: var(--background-main);
    border: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 12px;
    padding: 8px;
    margin-top: 4px;
}

.label {
    padding-left: 12px;
}

.error {
    color: var(--error);
}

.form {
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 12px;
}

.tips {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 42px;
}

.tips li {
    margin-bottom: 39px;
    font-size: 14px;
}

.link {
    border: solid;
    border-width: 1px;
    border-color: var(--text-main);
    color: var(--text-main);
    background-color: var(--background-secondary);
}

.wrapper button:hover, .link:hover {
    background-color: var(--accent);
}

.errorInput {
    border: solid;
    border-width: 2px;
    border-color: var(--error);
}

span.error {
    font-size: 10px;
    margin-left: 12px;
}
